.mainContainer {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px minmax(200px, 1fr) 60px;
}

.contentContainer {
    @include wrap;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    text-align: center;
}