.mainContainer {
    margin: 0 auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px minmax(200px, 1fr) 60px;
}

.contentContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    text-align: center;
    @media (min-width: 1200px) {
        @include wrap;
    }
}