@mixin button {
    padding: 10px 20px;
    color: $dark-color;
    background-color: $bright-color;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid $bright-color;
    text-decoration: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;

    &:disabled {
        opacity: 0.6;
        cursor: auto;
    }

    @media (min-width: 600px) {
        font-size: 1rem;
    }
}

@mixin wrap {
    margin: 0 auto;
    width: 95%;
}