.results {
    position: relative;

    .results__title {
        padding-bottom: 10px;

        .results__title--userInput {
            color: $bright-color;
        }
    }

    .results__primaryTitle {
        padding: 10px;
    }

    .results__noTabs {
        padding: 15px;
    }

    .resutls__img {
        position: absolute;
        right: 10%;
        bottom: 0;
        width: 50%;
        height: 50%;
        background-image: url('../../img/ladyGuitar.png');
        background-size: contain;
        background-repeat: no-repeat;
    }



    @media (min-width: 600px) and (min-height: 500px) {
        .results__title {
            padding-top: 60px;
        }

        .results__primaryTitle {
            padding-top: 20px;
        }
    }
}

@media (min-width: 600px) and (max-height: 499px) {
    .results {
        padding-bottom: 40px;

        .resutls__img {
            display: none;
        }
    }
}