
.searchForm {
    position: relative;
    border-bottom: 5px solid $bright-color;
    padding: 0.5rem;
    transition: 0.5s;

    .searchForm__title {
        text-transform: uppercase;
    }

    .searchForm__subTitle {
        font-size: 1rem;
        padding: 5px;
    }

    .searchForm__searchInput {
        padding: 5px 10px;
        margin: 0 auto;
        display: block;
        border-radius: 50px;
        border: 1px solid $dark-color;
    }

    .searchForm__tabExplanation {
        margin-top: 8px;
        font-size: 1rem;
    }

    .searchForm__button {
        @include button;
        margin-top: 10px;
    }

    @media (min-width: 600px)and (min-height: 500px) {
        .searchForm__subTitle {
            font-size: 1.2rem;
        }
        .searchForm__tabExplanation {
            font-size: 1.2rem;
        }
        .searchForm__searchInput {
            font-size: 1.4rem;
        }
    }
}

.searchForm--mini {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $dark-color;
    border-color: $font-color;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.5s;
    z-index: 2;
}


